# [Problem Name](https://project-init.atlassian.net/browse/INIT-1234)

Give a brief summary of the problem.

## Who is Impacted?

* Organizations -
* Teams -
* People -

## Useful Context

Break down the problem and any solutions that exist. Get as specific as possible and remember you can link to documents
in this directory if you wanted to write any code or have anything else to link back to for use during implementation.

## Suggested Solution

Give a breakdown of what needs to be done to solve the problem. This should roughly match the work plan.

### Details

1. Do something
2. Do something else
3. Profit...

## Knowns

* What are you 100% sure about?

## Assumptions

* What are you sure about, but wouldn't guarantee?

## Unknowns

* What don't you know?